body {
    display: flex; /* <body> is defined as a FLEX-CONTAINER*/
    flex-direction: column; /* The direct children of body will be positionned verticaly as blocks */ 
    justify-content: space-between; /* Along the main axis, which is vertical, the flex-items are separated with space between them */
    
    min-height: 100vh; /* That forces the body to occupy the whole height of the user's screen (100vh = 100% of 'vertical height' */
    margin: 0; 
    padding: 0; 
}

header {
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column; /* DEFINTION PRIMARY AXIS */
    justify-content: center; /* ALIGNEMENT SUR AXE PRIMAIRE */
    align-items: center;  /* ALIGNEMENT SUR AXE SECONDAIRE */

    padding-bottom: 150px;
}


#zoneBoutons { /* Cadre rouge ZONE BOUTONS*/ 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 500px;
    height: 200px;
}

#zoneBoutons > div {
    border: 3px solid white;
    padding: 10px;
    margin: 10px;
    height: 50px;
}


footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .left {
    border: 3px solid red;
}




































/* The code below is only here for styling, and doesn't impact elements global positionning 
This code has been separated from the above for readability purposes only */
body {background-color: rgba(114, 231, 192, 0.63);}
body > * {border: 2px solid orange;}
header > div, main > section, footer > div { border: 1px solid red; margin: 10px; }
